/* Custom */

.container {
    display: grid;
    grid-template-columns: 0.2fr auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
 }

